.container {
	text-align: center;
}

.title {
	margin-top: 50px;
	color: white;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title span{
	color: #26ffcb;
	padding-left: 15px;
}

/*.title img {
	padding: 20px 20px;
	height: 50px;
}*/

.victories {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.victories img {
/*	padding: 20px 20px;*/
/*padding-bottom: 0px;*/
	padding-left: 10px;
	padding-right: 5px;
	height: 30px;
}

.moves {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.moves img {
/*	padding: 20px 20px;*/
padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
}

.reset {
	width: 250px;
	height: 100px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 50px;
	background: #1f3540;
	font-size: 26px;
	color: #26ffcb;
	margin-top: 25px;
	margin-bottom: 50px;
}

/*Mine*/
.reset:hover {
	background: blueviolet;
	color: greenyellow;
}

/*just flex didn't work*/
.boxes{
	display: inline-flex; 
	height: 180px;
	width: 180px;
/*	background: #1f3540;*/
	background: linear-gradient(to left,rgba(7,27,81,.5) 0%, rgba(0,128,128,1)100%);
	border: 2px solid #0f1b21;
	border-radius: 12px;
	cursor: pointer;
}

.boxes:hover{
/*	background: #1f3540;*/
	background: linear-gradient(to left,rgba(7,27,81,.1) 0%, rgba(0,128,128,.1)100%);
	border: 2px solid #0f1b21;
	border-radius: 12px;
	cursor: pointer;
}

.boxes img {
/*	margin: 30px;*/
}

.board{
	height: 600px;
	width: 564px;
	display: flex;
	margin: auto;
}







