.container {
	text-align: center;
}

.title {
	margin-top: 50px;
	color: white;
/*	font-size: 40px;*/
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title span{
	color: #26ffcb;
	padding-left: 15px;
}

span {
/*  font-size: 40px;*/
  font-size: 1em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  
  &:after {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    right: -20%;
    background-image: 
      linear-gradient(135deg, 
        rgba(255,255,255,0),
        rgba(255,255,255,.8),
        rgba(255,255,255,0)
      );
  }
  &:hover {
    
    &:after {
    transition: all .4s ease-out;
      right: 100%;
    }
  }
}



/*.title img {
	padding: 20px 20px;
	height: 50px;
}*/

.victories {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.victories img {
/*	padding: 20px 20px;*/
/*padding-bottom: 0px;*/
	padding-left: 10px;
	padding-right: 5px;
	height: 30px;
}

.moves {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.moves img {
/*	padding: 20px 20px;*/
padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
}



.reset {
/*	width: 250px;
	height: 100px;*/
	width: 7.5em;
	height: 3em;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 50px;
/*	background: #1f3540;*/
	background: linear-gradient(to left,rgba(7,27,81,.5) 0%, rgba(0,128,128,1)100%);
	font-size: 26px;
	color: #26ffcb;
	margin-top: 25px;
	margin-bottom: 50px;
	border: 2px solid black;
}

/*Mine*/
.reset:hover {
/*	background: blueviolet;
	color: greenyellow;*/
	width: 7.8em;
	height: 3.2em;
	background: linear-gradient(to left,rgba(7,27,81,1) 0%, rgba(0,128,128,1)100%);

}

/*just flex didn't work*/
.boxes{
	display: inline-flex; 
/*	height: 180px;
	width: 180px;*/
	height: 8rem;
	width: 8rem;
/*	background: #1f3540;*/
	background: linear-gradient(to left,rgba(7,27,81,.5) 0%, rgba(0,128,128,1)100%);
	border: 2px solid #0f1b21;
	border-radius: 12px;
	cursor: pointer;
}

.boxes:hover{
/*	background: #1f3540;*/
	background: linear-gradient(to left,rgba(7,27,81,.1) 0%, rgba(0,128,128,.1)100%);
	border: 2px solid #0f1b21;
	border-radius: 12px;
	cursor: pointer;
}





.boxes img {
/*	margin: 30px;*/
}

.board{
	height: 600px;
	width: 564px;
	display: flex;
	margin: auto;
}







